/* general css */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #1E1E1E;
    color: white;
    font-size: 62.5%;
}

.mainText{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 100%;
    display: block;
    padding: 0;
    margin: 0;
    color: rgb(190, 35, 21);
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 130%;
    word-spacing: 5px;
    display: block;
    padding: 0;
    margin: 0;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-weight: light;
    font-size: 2rem;
    line-height: 100%;
    display: block;
    padding: 0;
    margin: 15px 0;
    letter-spacing: 1px;
    color: white;
    font-weight: lighter;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    display: inline-block;
    color: rgb(205, 205, 205);
}

i, svg{
    font-size: 1.2rem;
    fill: white;
    background-color: #1E1E1E;
}

a{
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: white;
}

/* specific css */

.title{
    text-align: center;
    margin: 9vh auto;
    /* text-decoration: underline; */
}

.categorySection{
    margin: 10vh 20%;
}

.pdf{
    display: none;
}

.titleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.linkButton{
    background-color: #1E1E1E;
    border: none;
}

.linkButton:hover{
    cursor: pointer;
}

.divider{
    height: 5px;
    margin: 5vh 20%;
    border-radius: 5px;
    background-color: #C76464;
}

.toggleButton{
    border: none;
    color: #5A7BD0;
    background-color: rgba(255, 0, 0, 0);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.textbooks a p{
    color: blue;
    text-decoration: underline;
}

@media (max-width: 768px){
    .downloadButton{
        display: initial;
    }
    .toggleButton{
        display: none;
    }
    h1{
        font-size: 3.4rem;
    }
    .divider,
    .categorySection{
        margin: 5vh 10%;
    }
}

@media (min-width: 1100px){
    .pdf, object{
        width: 1000;
    }
}