<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/styles/upload.css">
</head>
<body>
    <a href="/admin/{{ back }}" class="back-button">
        <span>←</span> Back
    </a>

    {% if error %}
        <h1 style="color: red;">{{ error }}</h1>
    {% elif success %}
        <h1>{{ success }}</h1>
    {% endif %}

</body>
</html>