<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announce</title>
</head>
<body>
    <form action="/admin/announce" method="post">
        <label for="announcement">announcement</label>
        <input type="text" name="announcement" required>

        <label for="color">color</label>
        <input type="color" name="color" required>

        <button type="submit">Submit</button>
    </form>
</body>
</html>