<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1 style="padding-bottom: 5vh;">login to your account</h1>
    <form action="/admin/login" method="post">
        <label for="username">Enter Username: </label>
        <input autocomplete="off" name="username" placeholder="Username" type="text">

        <label for="password">Enter Password: </label>
        <input autocomplete="off" name="password" placeholder="Password" type="password">

        <button type="submit">Login</button>
    </form>
</body>
</html>