<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
    <h1 style="padding-bottom: 5vh;">upload resource to the database</h1>
    <form action="/admin/login" method="post">
        <label for="fileName">Enter file name: </label>
        <input autocomplete="off" name="fileName" placeholder="file name" type="text">

        <label for="title">Enter title: </label>
        <input autocomplete="off" name="title" placeholder="title of the doc" type="text">

        <button type="submit">Upload</button>
    </form>
</body>
</html>